<div>
  <app-header />

  <div class="my-5 py-5">
    <div class="view">
        <h1>MOISES ANDRÉS URBINA AGUILAR</h1>
        <hr>
        <h2 class="pt-3 pb-5">Recursos Humanos</h2>
        <div>
            <div class="seccion-lateral">
                
                <h3>Contacto</h3>
                <p><span class="material-symbols-outlined">
                    call
                    </span> 6063-2545
                </p>
                <p>
                    <span class="material-symbols-outlined">
                        mail
                        </span>MoisesAndresUA&#64;gmail.com
                </p>
            </div>
        </div>
    </div>


  </div>
</div>
