<div *ngIf="empleado">
  <app-header />

  <div class="my-5 py-5">
    <div class="view">

        <h1>{{ empleado.primer_nombre }} {{ empleado.segundo_nombre }} {{ empleado.tercer_nombre }} {{ empleado.apellido_paterno }} {{ empleado.apellido_materno }}</h1>
        <hr class="info" />
        <h2 class="pt-3 pb-2">Recursos Humanos</h2>
      <hr class="hr" />
      <div class="secciones">
        <div class="seccion-lateral-1">
          <p>10/noviembre/1997</p>
          <p>Soltero</p>

          <h3 class="mt-3">Contacto</h3>
          <p><span class="material-symbols-outlined"> call </span> 6063-2545</p>
          <p>
            <span class="material-symbols-outlined"> mail </span
            >MoisesAndresUA&#64;gmail.com
          </p>
          <p>
            <span class="material-symbols-outlined"> contact_mail </span
            >moises.urbina&#64;empresa.org
          </p>
          <p>
            <span class="material-symbols-outlined"> location_on </span>Aquí
            iria la dirección, municipio, departamento y el pais
          </p>

          <h3 class="mt-3">Documentación</h3>
          <p>
            <span class="material-symbols-outlined"> check </span>DUI:
            <span class="pl-2">05614785-2</span>
          </p>
          <p>
            <span class="material-symbols-outlined"> check </span>NIT:
            <span class="pl-2">0607-111097-101-7</span>
          </p>
          <p>
            <span class="material-symbols-outlined"> check </span>ISSS:
            <span class="pl-2">025448752</span>
          </p>
          <p>
            <span class="material-symbols-outlined"> check </span>NUP:
            <span class="pl-2">521458755</span>
          </p>
        </div>
        <div class="seccion-lateral-2">
          <h3>Información profesional</h3>
          <p>
            <span class="material-symbols-outlined"> work </span> Profesión: 
            <span class="pl-2">Contador</span>
          </p>
          <p>
            <span class="material-symbols-outlined"> attach_money </span> Salario base: 
            <span class="pl-2">$ 700.00</span>
          </p>
          <p>
            <span class="material-symbols-outlined"> toggle_on </span> Estado: 
            <span class="pl-2">Activo</span>
          </p>
          <p>
            <span class="material-symbols-outlined">  event </span> Inicio: 
            <span class="pl-2">15/Octubre/2023</span>
          </p>
          <p>
            <span class="material-symbols-outlined">  calendar_today </span> Fin: 
            <span class="pl-2">No aplica</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
