<div>
    <app-header></app-header>
    <div class="my-5 py-5">
        <div class="section full-height pt-5">
            <div class="head">
                <div></div>
                <h2>Gestión de Tipos de Documento</h2>
                <button type="button" class="btn btn-primary" (click)="openCreateModal()">
                    <span class="material-symbols-outlined addbtn">add_circle</span> 
                </button>
            </div>

            <div class="mx-5">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="tipoDocumentos.length === 0">
                            <td colspan="3" class="text-center">Sin registros ingresados</td>
                        </tr>
                        <tr *ngFor="let tipoDocumento of tipoDocumentos">
                            <td>{{ tipoDocumento.codigo }}</td>
                            <td>{{ tipoDocumento.nombre }}</td>
                            <td class="acciones">
                                <button type="button" class="btn btn-info" (click)="openEditModal(tipoDocumento)">
                                    <span class="material-symbols-outlined editbtn">edit</span>
                                </button>
                                <button *ngIf="tipoDocumento.codigo !== undefined" type="button" class="btn btn-danger" (click)="confirmDelete(tipoDocumento.codigo!)">
                                    <span class="material-symbols-outlined trashbtb">delete</span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="tipoDocumentoModal" tabindex="-1" role="dialog" aria-labelledby="tipoDocumentoModalLabel" aria-hidden="true" #tipoDocumentoModal>
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="tipoDocumentoModalLabel">{{ isEditMode ? 'Editar Tipo de Documento' : 'Nuevo Tipo de Documento' }}</h5>
                            <button type="button" class="close" (click)="hideModal()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="tipoDocumentoForm">
                                <div class="form-group">
                                    <label for="codigo">Código</label>
                                    <input type="text" id="codigo" class="form-control" formControlName="codigo">
                                </div>
                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" id="nombre" class="form-control" formControlName="nombre">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" (click)="saveTipoDocumento()">
                                {{ isEditMode ? 'Actualizar' : 'Guardar' }}
                            </button>
                            <button type="button" class="btn btn-secondary" (click)="hideModal()">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
