<div>
  <app-header />

  <div class="my-5 py-5">
    <div
      class="container my-5 py-5 mx-auto"
      style="background-color: rgb(244, 244, 244); border-radius: 15px"
    >
      <form id="formularioRegistro" class="needs-validation" novalidate>
        <!--Primera linea-->
        <div class="row d-flex justify-content-start mb-3">
          <!--Primer nombre-->
          <div class="col-md-4">
            <label for="primer_nombre" class="form-label">Primer nombre</label>
            <input
              type="text"
              class="form-control"
              id="primer_nombre"
              placeholder=""
              required
            />
            <div class="invalid-feedback">
              Por favor ingrese su primer nombre
            </div>
          </div>
          <!--Segundo nombre-->
          <div class="col-md-4">
            <label for="segundo_nombre" class="form-label"
              >Segundo nombre</label
            >
            <input
              type="text"
              class="form-control"
              id="segundo_nombre"
              placeholder=""
            />
          </div>
        </div>

        <!--Segunda linea-->
        <div class="row d-flex justify-content-between mb-3">
          <!--Apellido paterno-->
          <div class="col-md-4">
            <label for="apellido_paterno" class="form-label">Apellido paterno</label>
            <input
              type="text"
              class="form-control"
              id="apellido_paterno"
              placeholder=""
              required
            />
            <div class="invalid-feedback">
              Por favor ingrese su apellido paterno
            </div>
          </div>
          <!--Apellido materno-->
          <div class="col-md-4">
            <label for="apellido_materno" class="form-label">Apellido materno</label>
            <input
              type="text"
              class="form-control"
              id="apellido_materno"
              placeholder=""
              required
            />
            <div class="invalid-feedback">
              Por favor ingrese su apellido materno
            </div>
          </div>
          <!--Apellido de casada-->
          <div class="col-md-4">
            <label for="apellido_casada" class="form-label">Apellido de casada</label>
            <input
              type="text"
              class="form-control"
              id="apellido_casada"
              placeholder=""
              required
            />
          </div>
        </div>

        <!--Tercera linea-->
        <div class="row d-flex justify-content-start mb-3">
            <!--Tipo de documento-->
            <div class="col-md-5">
                <label for="codigo_tipo_documento" class="form-label">Tipo de documento</label>
                <select class="form-select" id="codigo_tipo_documento" required>
                  <option selected disabled value="">Seleccione</option>
                  <option>DUI</option>
                  <option>Pasaporte</option>
                </select>
                <div class="invalid-feedback">Por favor seleccione un tipo de documento.</div>
              </div>
            <!--Número de documento-->
            <div class="col-md-5">
              <label for="numero_documento" class="form-label"
                >Número de documento</label
              >
              <input
                type="number"
                class="form-control"
                id="numero_documento"
                placeholder=""
              />
            </div>
          </div>

        

        <div class="row d-flex justify-content-between mb-3">
          <div class="col-md-6">
            <label for="validationCustom01" class="form-label"
              >Nombre de pila</label
            >
            <input
              type="text"
              class="form-control text-muted"
              id="validationCustom01"
              placeholder="Federico"
              required
            />
            <div class="valid-feedback">Se ve bien!</div>
          </div>
          <div class="col-md-6">
            <label for="validationCustom02" class="form-label">Apellido</label>
            <input
              type="text"
              class="form-control text-muted"
              id="validationCustom02"
              placeholder="Spina"
              required
            />
            <div class="valid-feedback">Se ve bien!</div>
          </div>
        </div>

        <div class="col-md-12 mb-3">
          <label for="validationCustomUsername" class="form-label"
            >Usuario</label
          >
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend"></span>
            <input
              type="text"
              class="form-control text-muted"
              id="validationCustomUsername"
              placeholder="Nombre de Usuario"
              aria-describedby="inputGroupPrepend"
              required
            />
            <div class="invalid-feedback">Porfavor , Agrege un usuario.</div>
          </div>
        </div>

        <div class="col-md-12 mb-3">
          <label for="exampleInputEmail1">Correo Electronico</label>
          <label for="inputAddress" class="text-muted">(opcional)</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="vos@hotmail.com"
          />
        </div>

        <div class="col-md-12 mb-3">
          <label for="inputAddress">Habla a</label>
          <input
            type="text"
            class="form-control"
            id="inputAddress"
            placeholder="1234 Main St"
          />
          <div class="invalid-feedback">Porfavor , Agrege una Calle.</div>
        </div>

        <div class="col-md-12 mb-3">
          <label for="inputAddress">Dirrección 2</label>
          <label for="inputAddress" class="text-muted">(opcional)</label>
          <input
            type="text"
            class="form-control"
            id="inputAddress"
            placeholder="1234 Main St"
          />
          <div class="invalid-feedback">Porfavor , Agrege una Calle.</div>
        </div>

        <div class="row d-flex justify-content-between mb-3">
          <div class="col-md-5">
            <label for="validationCustom03" class="form-label">País</label>
            <select class="form-select" id="validationCustom04" required>
              <option selected disabled value="">Elegir...</option>
              <option>Argentina</option>
              <option>Chile</option>
            </select>
            <div class="invalid-feedback">Please select a valid state.</div>
          </div>
          <div class="col-md-3">
            <label for="validationCustom04" class="form-label">Estado</label>
            <select class="form-select" id="validationCustom04" required>
              <option selected disabled value="">Elegir...</option>
              <option>Buenos aries</option>
            </select>
            <div class="invalid-feedback">Please select a valid state.</div>
          </div>
          <div class="col-md-3">
            <label for="validationCustom05" class="form-label"
              >Código Postal</label
            >
            <input
              type="text"
              class="form-control"
              id="validationCustom05"
              placeholder="1234"
              required
            />
            <div class="invalid-feedback">Please provide a valid zip.</div>
          </div>
        </div>
        <div class="mb-3">
          <div class="col-12">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="invalidCheck"
                required
              />
              <label class="form-check-label" for="invalidCheck">
                La dirección de envío es la misma que mi dirección de
                facturación
              </label>
              <div class="invalid-feedback">
                Debes de aceptarlo si querés enviar.
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="invalidCheck"
                required
              />
              <label class="form-check-label" for="invalidCheck">
                Guarde esta información para la próxima vez
              </label>
              <div class="invalid-feedback">
                Debes de aceptarlo si querés enviar.
              </div>
            </div>
          </div>
        </div>

        <div class="col-10 t-10">
          <button class="btn btn-primary" type="submit">
            Enviar formulario
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
