<div class="reset-password-container">
    <div class="logo-container vertical-center">
        <img src="../../../assets/images/ContaSync.png" alt="">
    </div>
    <div class="vertical-center text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form (ngSubmit)="resetPassword()">
                        <h1 class="h3 mb-3 fw-normal">Restablecer Contraseña</h1>
                        <div class="form-floating">
                            <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email"
                            placeholder="name@example.com" required>
                            <label for="floatingInput">Correo Electrónico</label>
                        </div>
                        <div class="form-floating mt-3">
                            <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword"
                            name="newPassword" placeholder="Nueva Contraseña" required>
                            <label for="floatingInput">Nueva Contraseña</label>
                        </div>
                        <div class="form-floating mt-3">
                            <input type="password" class="form-control" id="confirmPassword"
                            [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Restablecer Contraseña" required>
                            <label for="floatingInput">Confirmar Nueva Contraseña</label>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary mt-3">Restablecer Contraseña</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>