<div>
  <app-header></app-header>

  <div class="boleta-section my-5 py-5">
    <div class="exportar pt-5">
      <button class="generar" (click)="generatePDF()">
          EXPORTAR
      </button>
    </div>
    <div class="view" id="view">
      <h1>BOLETA DE PAGO A EMPLEADO</h1>

      <div class="mx-5 my-3">
        <table class="table">
          <thead class="table-secondary">
            <tr>
              <th scope="col">Nombre</th>
              <td id="file-name" scope="col">Clara Elizabeth Sandoval López</td>
            </tr>
            <tr>
              <th scope="col">Periodo</th>
              <td scope="col">
                PLANILLA DE SUELDOS DEL 01 DE ENERO AL 31 DE ENERO DEL 2024
              </td>
            </tr>
          </thead>
        </table>
      </div>
      <div class="detalle mx-5">
        <table class="table">
          <thead class="table-secondary">
            <tr class="head">
              <th scope="col">INGRESOS</th>
              <th scope="col"></th>
              <th scope="col">RETENCIONES Y DEDUCCIONES</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>SALARIO</td>
              <td> $ 750.00</td>
              <td>ISSS</td>
              <td> $ 12.25</td>
            </tr>
            <tr>
              <td>VACACIONES</td>
              <td> $ 0.00</td>
              <td>AFP</td>
              <td> $ 25.20</td>
            </tr>
            <tr>
              <td>AGUINALDO</td>
              <td> $ 0.00</td>
              <td>ISR</td>
              <td> $ 15.00</td>
            </tr>
            <tr>
              <td>BONIFICACIONES</td>
              <td> $ 0.00</td>
              <td>PRESTAMOS</td>
              <td> $ 0.00</td>
            </tr>
            <tr>
              <td>COMISIONES</td>
              <td> $ 0.00</td>
              <td>FACTURAS</td>
              <td> $ 0.00</td>
            </tr>
            <tr>
              <td>OTROS INGRESOS</td>
              <td> $ 0.00</td>
              <td>PROCESOS</td>
              <td> $ 0.00</td>
            </tr>
            <tr class="table-secondary">
              <td>TOTAL INGRESOS</td>
              <td> $ 750.00</td>
              <td>TOTAL DEDUCCIONES Y REDUCCIONES</td>
              <td> $ 52.45</td>
            </tr>
            <tr class="table-secondary">
              <td>LIQUIDO A RECIBIR</td>
              <td> $ 697.55</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
</div>
