/*CSS Editable*/
body{
	background-image: url(../../../assets/images/pattern-randomized.png) ;
}

h2{
	text-align: center;
}


  td button{
	border: none;
	background-color: transparent;
  }
  .acciones{
	display: flex;
	padding-left: 1px;
  }

  .head{
	display: flex;
	justify-content: space-between;
	margin-right: 120px;
	margin-left: 120px;
  }
  
  .head button{
	border: none;
	background-color: transparent;
  }
  .addbtn{
	font-size: 50px;
	color: #075711;
  }

  .editbtn{
	color: #042F76;
  }
  
  .viewbtn{
	color:#BB8A04;
  }

  .trashbtb{
	color: #850707;
  }
