/*CSS Editable*/
body{
	background-image: url(../../../../assets/images/pattern-randomized.png) ;
}

h2{
	text-align: center;
}

.generar a {
    border: 2px solid #006400; /* Borde de color verde oscuro */
    padding: 15px; /* Espaciado interno */
    background-color: #006400; /* Color de fondo verde oscuro */
    color: white; /* Color del texto */
    cursor: pointer; /* Cursor de mano al pasar sobre el botón */
    font-size: 16px; /* Tamaño de fuente */
    text-align: center; /* Centrar el texto */
    text-decoration: none;
    border-radius: 3%;
  }
    
/*Buscar*/
.search-container{
	width: 490px;
	display: block;
	margin: 0 auto;
  }
  
  input#search-bar{
	margin: 0 auto;
	width: 100%;
	height: 45px;
	padding: 0 20px;
	font-size: 1rem;
	border: 1px solid #D0CFCE;
	outline: none;
	&:focus{
	  border: 1px solid #0D1A34;
	  transition: 0.35s ease;
	  color: #0D1A34;
	  &::-webkit-input-placeholder{
		transition: opacity 0.45s ease; 
		  opacity: 0;
	   }
	  &::-moz-placeholder {
		transition: opacity 0.45s ease; 
		  opacity: 0;
	   }
	  &:-ms-placeholder {
	   transition: opacity 0.45s ease; 
		 opacity: 0;
	   }    
	 }
   }
  
  .search-icon{
	position: relative;
	float: right;
	width: 75px;
	height: 75px;
	top: -62px;
	right: -15px;
  }

  td button{
	border: none;
	background-color: transparent;
  }
  .acciones{
	display: flex;
	padding-left: 1px;
  }

  .head{
	display: flex;
	justify-content: space-between;
	margin-right: 120px;
	margin-left: 120px;
  }
  
  .head button{
	border: none;
	background-color: transparent;
  }
  .addbtn{
	font-size: 50px;
	color: #075711;
  }

  .editbtn{
	color: #042F76;
  }
  
  .viewbtn{
	color:#BB8A04;
  }

  .trashbtb{
	color: #850707;
  }

#formulario{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.form-row{
    padding: 15px;
}
.form-row label {
    margin-right: 10px;
}
.form-row input, .form-row select {
    margin-right: 20px;
}
.button-row {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.button-row input {
    margin-right: 10px;
}